<h1>howdy</h1>

<form>
  <label for="math">Enter a number</label>
  <input id="math" type="text"placeholder="what number do you want to square?" name="user">

  <button>Calculate square</button>
</form>
